.nav-bar {
    background-color: grey;
    display: flex;
    height: 5vh;
    width: 100vw;
    position: relative;
    align-items: center;
}

.nav-button {
    background-color: rgba(255,255,255,.87);
    height: 4.5vh;
    border-radius: 30px;
    margin-left: 50px;
}

.logout-button {
    cursor: pointer;
    height: 4.5vh;
    border-radius: 30px;
    margin-left: 50px;
    color: grey;
    text-decoration: underline;
}
